.inner_div{
	margin-left: 2em;
}
.highlight{
	font-weight: bold;
	color: red !important;
}
.red_highlight{
	color: red !important;
}
.sub_title{
	font-size: 1.4rem;
	color: blue !important;
	font-weight: bold;
}
.list_title{
	font-size: 1.2rem;
}
.content{
	text-indent: 2em;
	font-size: 1rem;
}
.inner_list_title{
	font-size: 1rem;
}