li>span{
	color:red;
	font-size: 1.2rem;
}
.highlight_list{
	color: red;
	font-size: 1.1rem;
}
.highlight{
	color: red !important;
}
.highlight_blue{
	color: blue !important;
}
.inner_div{
	margin-left: 2em;
}